/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';

/* lazy image */
@import 'react-lazy-load-image-component/src/effects/blur.css';

/* map */
@import 'mapbox-gl/dist/mapbox-gl.css';

/* editor */
@import 'react-quill/dist/quill.snow.css';

/* carousel */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* lightbox */
@import 'yet-another-react-lightbox/styles.css';
@import 'yet-another-react-lightbox/plugins/captions.css';
@import 'yet-another-react-lightbox/plugins/thumbnails.css';

.cell-mobile-more {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px 30px;
}

.table-arrow-more {
  display: none;
}

.mobile-row-wrapper {
  display: none !important;
}

@media (max-width: 1400px) {
  .table-cell-text {
    font-size: 13px;
  }
}

@media (max-width: 1200px) {
  .table-cell-text {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .page-title {
    margin-left: 20px !important;
  }
  .mobile-cell {
    display: none !important;
  }
  .table-arrow-more {
    display: block;
    background: none;
    outline: none;
    border: none;
    transition: all 0.3s;
  }
  .active-row {
    background: rgba(145, 158, 171, 0.08);
  }
  .active-row .table-arrow-more {
    transform: rotate(180deg);
  }
  .mobile-row-wrapper {
    display: table-row !important;
  }
}

table {
  background: #fff !important;
  border-radius: 10px;
}

.MuiDialogTitle-root {
  text-align: center;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
}
@media (min-width: 900px) {
  .auth-wrapper {
    display: grid !important;
    grid-template-columns: 50% 50% !important;
  }

  .auth-wrapper-content {
    justify-self: start;
  }
}

.MuiToolbar-regular {
  padding-left: 24px !important;
}
